.vs/
.idea/
[Bb]in/
[Oo]bj/
[Bb]uild/
Thumbs.db
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.cache
*.ilk
*.log
*.sbr
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
packages/
.tmp/
tmp/
*.user
*.local.json
.terraform/
*.backup
*.bak
.venv/
**/__pycache__/

# Verify
# https://github.com/VerifyTests/Verify#received-and-verified
*.received.*
